<div *ngIf="menuVisible" class="menu" [ngClass]="{'slide-in': menuVisible}">
  <div class="parametros-container">
    <form (ngSubmit)="submit()">
      <input type="text" id="lente" [(ngModel)]="lente" name="lente" placeholder="Amplitud de la lente">
      <input type="text" id="habitabilidad" [(ngModel)]="habitabilidad" name="habitabilidad" placeholder="% de habitabilidad">
      <input type="text" id="distanciaTierra" [(ngModel)]="distanciaTierra" name="distanciaTierra" placeholder="Distancia de la Tierra">
      <input type="text" id="proporcionGravedad" [(ngModel)]="proporcionGravedad" name="proporcionGravedad" placeholder="Aumento gravedad terrestre">
      <button type="submit">Buscar exoplanetas</button>
      <button (click)="limpiar()" type="button">Limpiar parámetros</button>
      <div *ngIf="errorMessage" style="margin-top: 10px;">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>

<button class="imagen-boton" (click)="alternarMenu()">
  <img src="assets/Telescopio.png" alt="Telescopio"/>
</button>


<button class="bitacora" (click)="reproducirAudio()">
  <img src="assets/Bitacora.png" alt="Bitacora"/>
</button>

<div class="ranking">
  <button class="arrow left" (click)="moveLeft()">&lt;</button>
  <span class="center-text">{{currentIndex+1}} {{ exoplanetas[currentIndex]?.name }}</span>
  <button class="arrow right" (click)="moveRight()">&gt;</button>
</div>

<audio #audioPlayer></audio>

<div class="iframe-container">
  <iframe [src]="url" title="Exoplaneta" class="smd-iframe-iframe margin-left-auto margin-right-auto border-0" allowfullscreen></iframe>
</div>

<!-- Información del Exoplaneta -->
<div class="info-planet" *ngIf="exoplanetas[currentIndex]">
  <h3>{{ exoplanetas[currentIndex].name }}</h3>
  <p><strong>Habitabilidad:</strong> {{ exoplanetas[currentIndex].habitabilidad * 100 | number: '1.0-0' }}%</p>

  <p><strong>Distancia a la estrella:</strong> {{ exoplanetas[currentIndex].distanceToStar | number: '1.0-0' }} m</p>
  <p><strong>Duración del año:</strong> {{ exoplanetas[currentIndex].yearDuration | number: '1.3-3' }} años terrestres</p>
</div>
