<div class="centered-text">
  <h2>Prepárate para un viaje innolvidable a través de la exploración de aquellos exoplanetas que algún día podríamos visitar</h2>
  <h2>juega con los parámetros que ofrecemos para poder tener un ranking de los 10 exoplanetas más habitables adaptados a esas carácterísticas </h2>
  <h2>y descubre las historias narradas de la colonización del ser humano mediante nuestra IA auditiva.</h2>
  <h2>A continuación se mostrarán 10 planetas de ejemplo antes de tu búsqueda.</h2>
</div>
<a class="centered-button" [routerLink]="['/planetas']">
  <button class="menu-button h1-like">Comenzar viaje</button>
</a>
